<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Report</title>
		<style type="text/css">
			html {
				font-family: Arial, Helvetica, sans-serif;
				background-color: white;
				font-size: 16px;
			}

			* {
				margin: 0;
				padding: 0;
			}

			header.header {
				text-align: center;
				padding: 50px 0;
			}

			header.header > h1 {
				line-height: 1.3;
			}

			.container {
				width: 80%;
				margin: 0 auto;
			}

			.row {
				display: flex;
				justify-content: space-between;
			}

			.col:first-child {
				width: 20%;
			}

			.col:last-child {
				width: 75%;
			}

			ul {
				list-style: none;
			}

			.sm {
				width: 3%;
			}

			.lg {
				width: 37%;
			}

			.xl {
				width: 60%;
			}

			table {
				width: 100%;
			}

			table > tbody > tr > td {
				line-height: 1.5;
				letter-spacing: .5px;
			}

			main.main {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<h1 style="line-height: 1.5; letter-spacing: .5px;">
					Data Laporan Siswa/Siswi 
					<br />
					SMK Negeri 12 Jakarta
				</h1>
				<br />
				<hr color="black" size="1.5px" />
			</div>
		</header>
		<main class="main">
			<div class="container">
				<h2 style="line-height: 1.5; letter-spacing: .5px;">A. Data Siswa</h2>
				<br />
				<br />
				<div class="row">
					<div class="col">
						<figure>
							<img src="{{photo}}" alt="Photo {{student_name}}" width="120" height="180" />
						</figure>
					</div>
					<div class="col">
						<table>
							<tbody>
								<tr>
									<td class="lg">Nama Siswa/Siswi</td>
									<td class="sm">:</td>
									<td class="xl">{{student_name}}</td>
								</tr>
								<tr>
									<td class="lg">NISN</td>
									<td class="sm">:</td>
									<td class="xl">{{nisn}}</td>
								</tr>
								<tr>
									<td class="lg">Kelas</td>
									<td class="sm">:</td>
									<td class="xl">{{class}}</td>
								</tr>
								<tr>
									<td class="lg">Jurusan</td>
									<td class="sm">:</td>
									<td class="xl">{{major}}</td>
								</tr>
								<tr>
									<td class="lg">Tempat/Tanggal Lahir</td>
									<td class="sm">:</td>
									<td class="xl">{{birthday}}</td>
								</tr>
								<tr>
									<td class="lg">E-mail</td>
									<td class="sm">:</td>
									<td class="xl">{{email}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<article style="margin-top: 40px;">
					<p style="line-height: 1.5; letter-spacing: .5px; text-align:justify;">
						Demikian diatas merupakan data laporan siswa/siswa SMK Negeri 12 Jakarta 
						atas nama <span style="text-transform: capitalize;">{{student_name}}</span>
						dibuat berdasarkan data yang sebenar-benarnya. Kiranya dengan data laporan
						ini dapat dipergunakan sebaik-baiknya oleh guru atau wali kelas siswa/siswi 
						yang bersangkutan.
					</p>
				</article>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<footer style="display: flex; flex-direction: column; align-items: flex-end;">
					<div style="width: 200px; ">
						<p style="line-height: 1.5; letter-spacing: .5px; text-align:justify;">Jakarta, {{now}}</p>
						<br />
						<br />
						<br />
						<br />
						<p style="text-align: center; line-height: 1.5; letter-spacing: .5px;">Kepala Sekolah</p>
					</div>
				</footer>
			</div>
		</main>
	</body>
</html>